<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edificios</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="container">

        <!-- Menú de navegación -->
        <div th:insert="~{menu::menu}"></div>

        <h1 class="titulo">Administración de Edificios</h1>

        <div class="row">
            <div class="col-sm-6">
                <!-- Formulario Alta de Edificios -->
                <div class="my-4 alert alert-secondary">
                    <h2>Agregar Edificio</h2>
                    <div class="alert alert-info" role="alert" th:text="${mensajeEdificio}"></div>
                    <form method="post" th:object="${edificio}" th:action="@{/edificiosSave}">
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Direccion</label>
                            <input type="text" class="form-control" th:field="*{direccion}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <button type="reset" class="btn btn-danger">Limpiar</button>
                    </form>
                </div>
                <!-- Fin Formulario Alta de Edificios -->
    
                <!-- Lista de Edificios -->
                <div class="my-4">
                    <h3>Lista de edificios</h3>
    
                    <!-- Inicio Formulario de Búsqueda de Edificios -->
                    <form role="search" class="alert alert-light">
                        <div class="d-flex">                            
                            <input type="search" class="form-control me-2" name="buscarEdificio" placeholder="Dirección edificio" aria-label="Search">
                            <button type="submit" class="btn btn-outline-primary">Buscar</button>
                        </div>
                        <input type="checkbox" class="form-check-input me-2" name="buscarEdificioInactivo" id="buscarEdificioInactivo" aria-label="Search">
                        <label for="buscarEdificioInactivo" class="form-label">Buscar inactivos</label>
                    </form>
                    <!-- Fin Formulario de Búsqueda de Edificios -->
    
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Activo</th>
                                <!--
                                <th scope="col">Creado</th>
                                <th scope="col">Modificado</th>
                                -->
                                <th scope="col">Departamentos</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="edificio : ${likeDireccion}">
                                <th scope="row" th:text="${edificio.id}"></th>
                                <td th:text="${edificio.direccion}"></td>
                                <td th:text="${edificio.activo} ? 'Si' : 'No'"></td>
                                <!--
                                <td th:text="${#temporals.format(edificio.fechaAlta, 'dd-MM-yyyy HH:mm')}"></td>
                                <td th:text="${#temporals.format(edificio.fechaModificacion, 'dd-MM-yyyy HH:mm')}"></td>
                                -->
                                <td>
                                    <form th:action="@{/edificios}">
                                        <input type="text" th:value="${edificio.id}" name="idEdificio" hidden>
                                        <button type="submit" class="btn btn-info col-sm-12">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form method="post" th:action="@{/edificiosRemove}">
                                        <input type="text" th:value="${edificio.id}" name="idBorrarEdificio" hidden>
                                        <button type="submit" class="btn btn-danger col-sm-12">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Fin Lista de Edificios -->
            </div>

            <div class="col-sm-6">                
                <!-- Formulario Alta de Departamentos -->
                <div class="my-4 alert alert-secondary">
                    <h2>Agregar Departamento</h2>
                    <div class="alert alert-info" role="alert" th:text="${mensajeDepartamento}"></div>
                    <form method="post" th:object="${departamento}" th:action="@{/departamentosSave}">
                        <div class="mb-3">
                            <label for="numero" class="form-label">Número</label>
                            <input type="number" class="form-control" name="numero" th:field="*{numero}" required>
                        </div>
                        <input type="number" th:value="${idEdificioActual}" name="idEdificio" id="idEdificio" hidden>
                        <div class="mb-3">
                            <label for="comentario" class="form-label">Comentario</label>
                            <textarea class="form-control" name="comentario" th:field="*{comentario}" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <button type="reset" class="btn btn-danger">Limpiar</button>
                    </form>
                </div>
                <!-- Fin Formulario Alta de Departamentos -->

                <h2 th:text="${direccionEdificioActual}"></h2>
                
                <!-- Lista de Departamentos -->
                <div class="my-4">
                    <h3>Lista de Departamentos</h3>
    
                    <!-- Inicio Formulario de Búsqueda de Departamentos -->
                    <form role="search" class="alert alert-light">
                        <input type="checkbox" class="form-check-input me-2 align-baseline" name="buscarDepartamentoActivo" id="buscarDepartamentoActivo" aria-label="Search">
                        <label for="buscarDepartamentoActivo" class="form-label me-2">Buscar activos</label>
                        <input type="checkbox" class="form-check-input me-2 align-baseline" name="buscarDepartamentoInactivo" id="buscarDepartamentoInactivo" aria-label="Search">
                        <label for="buscarDepartamentoInactivo" class="form-label me-2">Buscar inactivos</label>
                        <input type="number" th:value="${idEdificioActual}" name="idEdificio" id="idEdificio" hidden>
                        <button type="submit" class="btn btn-outline-primary">Buscar Activos</button>
                    </form>
                    <!-- Fin Formulario de Búsqueda de Departamentos -->

                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Numero</th>
                                <th scope="col">Comentario</th>
                                <th scope="col">Activo</th>
                                <!--
                                <th scope="col">Creado</th>
                                <th scope="col">Modificado</th>
                                -->
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="departamento : ${likeEdificio}">
                                <th scope="row" th:text="${departamento.id}"></th>
                                <td th:text="${departamento.numero}"></td>
                                <td th:text="${departamento.comentario}"></td>
                                <td th:text="${departamento.activo} ? 'Si' : 'No'"></td>
                                <!--
                                <td th:text="${#temporals.format(departamento.fechaAlta, 'dd-MM-yyyy HH:mm')}"></td>
                                <td th:text="${#temporals.format(departamento.fechaModificacion, 'dd-MM-yyyy HH:mm')}"></td>
                                -->
                                <td>
                                    <form method="post" th:action="@{/departamentosRemove}">
                                        <input type="text" th:value="${departamento.id}" name="idBorrarDepartamento" hidden>
                                        <input type="number" th:value="${idEdificioActual}" name="idEdificio" id="idEdificio" hidden>
                                        <button type="submit" class="btn btn-danger col-sm-12">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Fin Lista de Departamentos -->
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>