<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edificio</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="container">

        <!-- Menú de navegación -->
        <div th:insert="~{menu::menu}"></div>

        <h1 class="titulo" th:text="${edificio.id + ' - ' + edificio.direccion}"></h1>

        <div class="row">
            <div class="col-sm-4">

                <!-- Inicio Formulario de Búsqueda de Departamentos -->
                <form role="search" class="alert alert-light">
                    <h2>Buscar Departamento</h2>
                    <div class="d-flex">                            
                        <input type="search" class="form-control me-2" name="buscarDepartamento" placeholder="Numero o piso del departamento" aria-label="Search">
                        <button type="submit" class="btn btn-outline-primary">Buscar</button>
                    </div>
                    <input type="checkbox" class="form-check-input me-2" name="buscarDepartamentoInactivo" id="buscarDepartamentoInactivo" aria-label="Search">
                    <label for="buscarDepartamentoInactivo" class="form-label">Buscar inactivos</label>
                </form>
                <!-- Fin Formulario de Búsqueda de Departamentos -->

                <!-- Formulario Alta de Edificios -->
                <form class="my-4 alert alert-secondary" method="post" th:object="${departamento}">
                    <h2>Agregar Departamento</h2>
                    <div class="alert alert-info" role="alert" th:text="${mensajeDepartamento}"></div>
                    <div class="mb-3">
                        <label for="numero" class="form-label">Numero</label>
                        <input type="number" class="form-control" th:field="*{numero}" required>
                    </div>
                    <div class="mb-3">
                        <label for="piso" class="form-label">Piso</label>
                        <input type="number" class="form-control" th:field="*{piso}" required>
                    </div>
                    <select class="form-select" aria-label="Tipo Departamento">
                        <div th:each="tipo: ${tiposDepartamentos}">
                            <option th:text="${tipo}" th:value="${tipo}"></option>
                        </div>
                      </select>
                    <div class="mb-3">
                        <label for="comentario" class="form-label">Comentario</label>
                        <textarea class="form-control" name="comentario" th:field="*{comentario}" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="reset" class="btn btn-danger">Limpiar</button>
                </form>
                <!-- Fin Formulario Alta de Edificios -->
            </div>            
            <div class="col-sm-8">
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>