<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edificios</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="container">

        <!-- Menú de navegación -->
        <div th:insert="~{menu::menu}"></div>

        <h1 class="titulo">Administración de Edificios</h1>

        <div class="row">
            <div class="col-sm-4">

                <!-- Inicio Formulario de Búsqueda de Edificios -->
                <form role="search" class="alert alert-light">
                    <h2>Buscar Edificio</h2>
                    <div class="d-flex">                            
                        <input type="search" class="form-control me-2" name="buscarEdificio" placeholder="Dirección del edificio" aria-label="Search">
                        <button type="submit" class="btn btn-outline-primary">Buscar</button>
                    </div>
                    <input type="checkbox" class="form-check-input me-2" name="buscarEdificioInactivo" id="buscarEdificioInactivo" aria-label="Search">
                    <label for="buscarEdificioInactivo" class="form-label">Buscar inactivos</label>
                </form>
                <!-- Fin Formulario de Búsqueda de Edificios -->

                <!-- Formulario Alta de Edificios -->
                <form class="my-4 alert alert-secondary" method="post" th:object="${edificio}" th:action="@{/edificiosSave}">
                    <h2>Agregar Edificio</h2>
                    <div class="alert alert-info" role="alert" th:text="${mensajeEdificio}"></div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" th:field="*{direccion}" required>
                    </div>
                    <div class="mb-3">
                        <label for="comentario" class="form-label">Comentario</label>
                        <textarea class="form-control" name="comentario" th:field="*{comentario}" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="reset" class="btn btn-danger">Limpiar</button>
                </form>
                <!-- Fin Formulario Alta de Edificios -->
            </div>            
            <div class="col-sm-8">                
                <!-- Lista de Edificios -->
                <div class="my-4">    
                    <div class="row row-cols-1 row-cols-md-3 g-2" >
                        <div class="col" th:each="edificio : ${likeDireccion}">
                            <div class="card">
                                <h5 th:class="${edificio.activo} ? 'card-header text-bg-success' : 'card-header text-bg-danger'" th:text="${edificio.id + ' - ' + edificio.direccion}"></h5>
                                <div class="card-body overflow-hidden">
                                    <p class="card-text" th:text="${edificio.comentario}"></p>
                                </div>
                                <div class="card-footer d-flex gap-2">                                        
                                    <div class="col-sm-6">
                                        <form th:action="@{/departamentos}">
                                            <input type="text" th:value="${edificio.id}" name="idEdificio" hidden>
                                            <button type="submit" class="btn btn-info col-sm-12">
                                                <i class="bi bi-eye"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-sm-6" th:if="${edificio.activo}">
                                        <form method="post" th:action="@{/edificiosRemove}">
                                            <input type="text" th:value="${edificio.id}" name="idBorrarEdificio" hidden>
                                            <button type="submit" class="btn btn-danger col-sm-12">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Lista de Edificios -->
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>