<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consorcio</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="container">

        <!-- Menú de navegación -->
        <div th:insert="~{menu::menu}"></div>

        <h1 class="titulo">Sistema de Administración de Consorcio</h1>
    </div>

    <!-- JS -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>