<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas Personales</title>
</head>
<body>
    <h1 class="title">Finanzas Personales</h1>
    <p th:text="*{nombreHTML}">Finanzas Personales</p>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab non sit voluptatibus nobis libero deleniti obcaecati soluta eveniet ducimus nisi, eaque assumenda sapiente numquam dolorem quis accusantium voluptate molestias! Sed!</p>
</body>
</html>