<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="menu">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Consorcio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mv-lg-0" id="menu">
                <!-- Item -->
                <li class="nav-item">
                    <a href="/edificios" class="nav-link" aria-current="page">Edificios</a>
                </li>
                <!-- Item -->
                <li class="nav-item">
                    <a href="/personas" class="nav-link" aria-current="page">Personas</a>
                </li>
            </ul>     
        </div>
    </div>
</nav>