<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edificios</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="container">

        <!-- Menú de navegación -->
        <div th:insert="~{menu::menu}"></div>

        <h1 class="titulo">Administración de Personas</h1>

        <div class="row">
            <div class="col-sm-4">

                <!-- Inicio Formulario de Búsqueda de Personas -->
                <form role="search" class="alert alert-light">
                    <h2>Buscar Persona</h2>
                    <div class="d-flex">                            
                        <input type="search" class="form-control me-2" name="buscarPersona" placeholder="Nombre o apellido de la persona" aria-label="Search">
                        <button type="submit" class="btn btn-outline-primary">Buscar</button>
                    </div>
                    <input type="checkbox" class="form-check-input me-2" name="buscarPersonaInactiva" id="buscarPersonaInactiva" aria-label="Search">
                    <label for="buscarPersonaInactiva" class="form-label">Buscar inactivas</label>
                </form>
                <!-- Fin Formulario de Búsqueda de Personas -->

                <!-- Formulario Alta de Personas -->
                <form class="my-4 alert alert-secondary" method="post" th:object="${persona}" th:action="@{/personasSave}">
                    <h2>Agregar Persona</h2>
                    <div class="alert alert-info" role="alert" th:text="${mensajePersona}"></div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" th:field="*{nombre}" required>
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" th:field="*{apellido}" required>
                    </div>
                    <div class="mb-3">
                        <label for="comentario" class="form-label">Comentario</label>
                        <textarea class="form-control" name="comentario" th:field="*{comentario}" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="reset" class="btn btn-danger">Limpiar</button>
                </form>
                <!-- Fin Formulario Alta de Personas -->
            </div>            
            <div class="col-sm-8">                
                <!-- Lista de Personas -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Ver</th>
                        <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="persona : ${likeNombreOrApellido}" th:class="${!persona.activo} ? 'table-danger'">
                            <th scope="row" class="col-sm-1" th:text="${persona.id}">1</th>
                            <td class="col-sm-1" th:text="${persona.nombre}"></td>
                            <td class="col-sm-1" th:text="${persona.apellido}"></td>
                            <td class="overflow-hidden col-sm-7" th:text="${persona.comentario}"></td>
                            <td class="col-sm-1" th:colspan="${!persona.activo} ? 2">
                                <form th:action="@{/personas}">
                                    <input type="text" th:value="${persona.id}" name="idPersona" hidden>
                                    <button type="submit" class="btn btn-info col-sm-12">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </form>
                            </td>
                            <td class="col-sm-1" th:if="${persona.activo}">
                                <form method="post" th:action="@{/personasRemove}">
                                    <input type="text" th:value="${persona.id}" name="idBorrarPersona" hidden>
                                    <button type="submit" class="btn btn-danger col-sm-12">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Fin Lista de Personas -->
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>